body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #4a4a4a;
	color: white;

}

header{
	background-color: #61605e;
	text-align: center;
}
header h1{
	font-size: 40px;
	color: white;
	margin-bottom: 20px;
	padding-bottom: 20px;

}
main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
h2{
	padding: 20px;

}
a{
	color: white;
}
a:hover{
	color: yellow;
}
}